.container-navbar {
  width: 100vw;
  height: 60px;

  background: rgb(58,58,58);
  background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(58,58,58,1) 100%);
  border: 1px solid #000;
  border-radius: 2px;

  display: flex;
  align-items: center;
  padding: 0 15px;
}

.container-navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.container-navbar a img {
  width: 42px;
}

.container-navbar a h3 {
  font-size: 22px;
  margin-left: 8px;
  color: #9e9c98;

  transition: color 0.2s;
}

.container-navbar a h3:hover {
  color: #FFF;
}

.container-navbar .nav-left {
  display: flex;
  height: 100%;
  align-items: center;
}

.container-navbar .nav-left li {
  height: 100%;
  list-style: none;
  margin: 0 15px;  
}

.container-navbar .nav-left li p {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 0 0 4px;
}

.container-navbar .nav-left li a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: #9e9c98;
  text-decoration: none;
  
  transition: color .2s;
}

.container-navbar .nav-left li a:hover {
  color: #FFF;
}

.container-navbar .nav-right {
  display: flex;
  right: 0;
  position: absolute;
  margin-right: 15px;
  align-items: center;
}

.container-navbar .nav-right a {
  height: 100%;
  color: #9e9c98;


  transition: color .2s;
}

.container-navbar .nav-right a:hover {
  color: #FFF;
}

.container-navbar .nav-right a p {
  margin-right: 15px;
}

.container-navbar .nav-right a img {
  width: 50px;
  border-radius: 50%;
}