* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, :root {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(204,204,204);
  background: linear-gradient(0deg, rgba(85,85,85,1) 0%, rgba(204,204,204,1) 100%);
  display: flex;
  justify-content: center;
}